.players-container{
    margin:3rem auto 0;
    display:flex;
    justify-content:center;
}

.player-container{
    margin:0 1.5rem; /*RESPONSIVE DESIGN NEEDED HERE*/
}

.player-container h3{
    font-weight:700;
    text-transform:uppercase;
    text-align:center;
    margin:0.5rem 0;
    color:#fff;
    font-size:1.5rem;
}

.player-grid{
    width:13.5rem;
}

.player-row{
    display:flex;
}

.player-square{
    width:4.5rem;
    height:4.5rem;
    background:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    transition:0.2s ease-out all;
}

#p1r1s1, #p2r1s1{
    border-top-left-radius: 1.25rem;
}

#p1r1s1:hover, #p2r1s1:hover{
    border-top-left-radius: 1.875rem;
}

#p1r1s3, #p2r1s3{
    border-top-right-radius: 1.25rem;
}

#p1r1s3:hover, #p2r1s3:hover{
    border-top-right-radius: 1.875rem;
}

#p1r3s1, #p2r3s1{
    border-bottom-left-radius: 1.25rem;
}

#p1r3s1:hover, #p2r3s1:hover{
    border-bottom-left-radius: 1.875rem;
}

#p1r3s3, #p2r3s3{
    border-bottom-right-radius: 1.25rem;
}  

#p1r3s3:hover, #p2r3s3:hover{
    border-bottom-right-radius: 1.875rem;
} 

.player-square:hover{
    cursor:pointer;
    background:#a4baf7;
}

.player-square .shape i.material-icons{
    font-size:2.25rem;
}