.rubric-grid{
    margin:0 auto;
    width:9.375rem;
}

.rubric-row{
    display:flex;
}

.rubric-square{
    width:3.125rem;
    height:3.125rem;
    background:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    transition:0.2s ease-out background;
}

#r1s1{
    border-top-left-radius: 1rem;
}

#r1s3{
    border-top-right-radius: 1rem;
}

#r3s1{
    border-bottom-left-radius: 1rem;
}

#r3s3{
    border-bottom-right-radius: 1rem;
}

.rubric-square:hover{
    cursor:default;
    background:#ccebfa;
}