.rubric-grid{
    margin:0 auto;
    width:9.375rem;
    border:1px solid #1b254e;
}

.rubric-row{
    display:flex;
}

.rubric-square{
    width:3.125rem;
    height:3.125rem;
    background:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    transition:0.2s ease-out background;
}