body {
    background: #405fe9;
    font-family:'Poppins';
}

.header{
    margin:1rem 0;
}

.header h1{
    font-weight:900;
    font-size:2.5rem;
    text-align:center;
    color:#fff;
}

.puzzle{
    color:#6ad7f8;
}

.heart{
    color:#ee5394;
}

.note{
    color:#3fca75;
}

.moon{
    color:#f8ef6a;
}

.sun{
    color:#e95d32;
}

.flower{
    color:#d67ef8;
}